[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"

[dev-packages]
black = "*"
twine = "*"
mypy = "*"
pytest = "*"
pipfile = "*"
pytest-cov = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
